<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h1>List of posts</h1>

<div sec:authorize="isAuthenticated()">
	<br>
	<a th:href="@{/post/form}">Create new post</a>
	<br>
	
	<br>
	User: <span sec:authentication="name"></span>
	<br>
	Role: <span sec:authentication="principal.authorities"></span>
	<br>
	
	<br>
	<form th:action="@{/logout}" method="POST">
		<input type="submit" value="Logout"/>
	</form>
	<br>
</div>


<div sec:authorize="!isAuthenticated()">

	<form th:action="@{/login}" method="POST">
		<input type="submit" value="Log in"/>
	</form>
	<form th:action="@{/user/form}" method="POST">
		<input type="submit" value="Sign in"/>
	</form>
</div>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Author</th>
			<th sec:authorize="isAuthenticated()">Actions</th>

		</tr>
	</thead>
	<tbody>
		<tr th:each="tempPost : ${posts}">
			<td th:text="${tempPost.title}"></td>
			<td th:text="${tempPost.description}"></td>
			<td th:text="${tempPost.author.username}"></td>
			<td sec:authorize="isAuthenticated()">
				<a th:href="@{'/post/delete/' + ${tempPost.id}}" 
				onclick="if (!(confirm('Are you sure you want to delete this post?'))) return false">Delete</a>
				|<a th:href="@{'/post/update/' + ${tempPost.id}}">Update</a>
			</td>
		</tr>
	</tbody>
</table>
 
<ul>
	<th:block th:each="i: ${#numbers.sequence(1, pages)}">
		<a th:href="@{'/page/' + ${i}}" th:text="${i}"></a>
	</th:block>
</ul>

</body>
</html>
