<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>Blog - List of users</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>List of users</h1>
        <table id="table_users" class="display">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user,iter : ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${auth[__${iter.index}__]}"></td>
                    <td>Todo</td>
                </tr>
            </tbody>
        </table>
        <script>
            $(document).ready(function(){
                $('#table_users').DataTable();
            });
        </script>
    </div>
</body>
</html>