<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
 	layout:decorate="~{layouts/main-layout}">
<head>
	<title>Blog - List of posts</title>
</head>
<body>
	<div layout:fragment="content">
	 	<h1>List of posts</h1>
		<a sec:authorize="isAuthenticated()" class="btn btn-primary" th:href="@{/post/form}">Create new post</a>
		<div class="container">
			<div class="row">
				<div class="col-9">
					<div class="row" th:each="post : ${posts}">
						<div class="col-4">
							<img th:attr="src=@{'/image/'+${post.image}}" width="250" height="250" 
							th:onerror="'this.src=\'' + @{/img/default.jpg} + '\';'" />
						</div>
						<div class="col-5">
							<div>
								<p th:text="${post.title}"></p>
							</div>
							<div>
								<p th:text="${post.author.username} +' '+ ${post.createdDate}"></p>
							</div>
							<div>
								<p class="post-desc-overflow" th:text="${post.description}"></p>
							</div>
							<div>
								<a th:href="@{'/post/' + ${post.id}}">Read more</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3">
					Tags etc
				</div>
			</div>
		</div>
		<ul>
			<th:block th:each="i: ${#numbers.sequence(1, pages)}">
				<a th:href="@{'/page/' + ${i}}" th:text="${i}"></a>
			</th:block>
		</ul>
	</div>
</body>
</html>
