<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
 	layout:decorate="~{layouts/main-layout}">
<head>
	<title>Blog - Login Page</title>
</head>

<body>
	<div layout:fragment="content">
		<h1>Login</h1>
		<form th:action="@{/authenticate}" method="POST">
			<p th:if="${param.error != null}">
				<i>Invalid username/password.</i>
			<p th:if="${param.logout != null}">
				<i>You have been logged out.</i>
			<p>Username: <input type="text" name="username"/></p>
			<p>Password: <input type="password" name="password"/></p>
			<input type="submit" value="Login"/>
		</form>
	</div>
</body>
</html>