<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
 	layout:decorate="~{layouts/main-layout}">
<head>
	<title th:text="'Blog - ' + ${post.title}"></title>
</head>
<body>
	<div layout:fragment="content">
		<div>
			<p th:text="${post.title}" class="text-center postDetailTitle"></p>
		</div>
	 	<div class="container">
	 		<div class="row">
	 			<div class="col-4">
	 				<img th:attr="src=@{'/image/'+${post.image}}" width="250" height="250"/>
	 				<p th:text="${post.author.username}"></p>
	 				<p th:text="${post.createdDate}"></p>
	 				<p th:text="${post.lastModificated}"></p>
	 				<a th:href="@{${post.id}+'/delete'}" class="btn btn-danger" 
	 				onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
	 			</div>
	 			<div class="col-8">
	 				<p th:text="${post.description}"></p>
	 			</div>
	 		</div>
	 		<div>
	 			<div class="col-8 offset-2">
	 				
	 			</div>
	 		</div>
	 	</div>
	</div>
</body>
</html>
