<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Blog - Change User Password Page</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Change User Password</h1>
    <form method="post" th:action="@{'/admin/users/'+${username}+'/edit/save'}" th:object="${user}">
        <table>
            <tr>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>
            </tr>
            <tr>
                <td>New Password:</td>
                <td><input th:field="*{password}" type="password"/></td>
            </tr>
            <tr>
                <td>Confirm New Password:</td>
                <td><input th:field="*{matchingPassword}" type="password"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>