<!DOCTYPE html>
<html layout:decorate="~{layouts/main-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Blog - Change User Role Page</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Change User Role</h1>
    <form method="post" th:action="@{'/admin/users/'+${username}+'/changeRole/save'}">
        <p>Actual role for <span th:text="${username}"></span> is <span th:text="${userRole}"></span>.</p>
        <span>Choose role: </span>
        <select id="role" name="role">
            <option th:each="type : ${roleTypes}" th:selected="${type == userRole}" th:text="${type}"
                    th:value="${type}"></option>
        </select>
        <p><input type="submit" value="Submit"></p>
    </form>
</div>
</body>
</html>